	<div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
		<button type="button" class="menu-icon" data-toggle></button>
		<div class="top-bar-right">
			<div class="menu-user">
				<a href="/user/login" class="button-login-mobile">Entrar</a>
			</div>
		</div>
	</div>
	<nav class="top-bar navbar-top" id="top-menu">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<div class="top-bar-left">
					<ul class="vertical medium-horizontal menu">
            <li><a href="/">Inicio</a></li>
					</ul>
				</div>
				<div class="top-bar-right hide-for-small-only">
					<div class="menu-user">
						<a href="/user/login">Entrar</a> ou <a href="/user/register">Cadastre-se</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
